.App {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "side_bar main"
    "side_bar main"
    "side_bar main";
}
.side_bar { 
  grid-area: side_bar;
  position: fixed;
  grid-column:1;
  width: 25%;
  height: 100vh;
  background-color: blue;
  text-align: center; 
}
.side_bar li{
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 1px groove white;
}
.side_bar ul{
  list-style: none;
}
.side_bar .nav {
  text-decoration: none;
  color: white;
}
.side_bar .logout {
  position: absolute;
  bottom: 5%;
  left: .1%;
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  color: white;
  background-color: red;
}
.main { 
  grid-area: main;
  text-align: center;
 }


